/*
 * Copyright (C) 2006, 2007 Thomas Baigneres, Matthieu Finiasz
 *
 * This file is part of iChair.
 *
 * iChair is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation; either version 3 of the License, or (at your
 * option) any later version.
 * 
 * iChair is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
 * for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 */
/*               *
 * General style *
 *               */

body {
margin: 10px 15em 10px 10px;
background: #ffe url("../images/admin_corner.gif") fixed no-repeat top left;
font-family: "trebuchet MS", sans-serif;
font-size: 11px;
}

body.nomargin{
margin: 10px;
background: #ffe;
}

a {
text-decoration: none;
border: 1px solid #fbb;
border-left: none;
border-right: none;
font-weight: normal;
color: #c43;
/*cursor: alias;*/
}

a:hover { 
background: #fff2f2;
}

p {
text-align: justify;
}


h1 {
font-size: 200%;
background: #fff2f2 url("../images/coin-rose.gif") top left no-repeat;
text-align: center;
margin-right: -7.25em;
margin-top: 0px;
border: 1px solid #fbb;
padding:  1px;
font-weight: normal;
color: #333;
}

body.nomargin h1 { 
margin-right: 0px;
}

h2 {
text-align: left;
font-size: 155%;
margin: 30px 0px 10px 0px;
padding: 3px 4px 1px 4px;
background: #fff2f2 url("../images/coin-rose2.gif") top left no-repeat;
border: 1px #fbb solid;
font-weight: normal;
}

h2 a {
color: #000;
border: none;
}

h2 a:hover { 
  background: transparent;
}

input, textarea, select {
background: #f2fff2 url("../images/coin-vert3.gif") top right no-repeat;
padding: 2px;
font-size: 11px;
}

input, textarea {
border: 1px #aeb solid;
padding: 2px;
}

label { 
cursor: pointer;
}

input.id {
margin: 10px 0px 0px 10px;
}

select.gradeSelect {
min-width: 4em;
}

input.noBorder {
background: transparent;
border: none;
}

table.disclaimer {
width: 60em;
text-align: justify;
}

table {
border-collapse: collapse;
}

table td {
margin: 0;
text-align: left;
}

/*               *
 *  Right panel   *
 *               */

.navigate {
position: absolute;
top: 5em;
right: .5em;
width: 14em;
text-align: center;
}

.navigateTitle {
font-size: 115%;
background: #f2f2ff url("../images/coin-bleu2.gif") top left no-repeat;
color: #000;
padding: 4px 0px;
border: 1px solid #bbf;
}

.navigateTitle a {
color: #000;
border: none;
display: block;
}

.navigateTitle a:hover { 
background: transparent;
}

.navigateLinks {
border: 1px solid #bbf;
margin: 1px 0px 20px 0px;
background: #fff;
}

.navigateLinks p { 
margin: 2px 0px;
text-align: center;
}

.navigateLinks p.topLine { 
padding-top: 2px;
border-top: dashed 1px #bbf;
}

.navigateLinks a {
padding: 4px 0px;
display: block;
}

.navigateLinks a.noblock {
padding: 0px;
display: inline;
}


.navigateLinks a:hover {
background: #fff2f2;
}

.navigateLinks a.noblock:hover {
background: #fff2f2;
}

.navigateLinks p.guidelines {
border: 1px solid #fbb;   
border-left: none;
border-right: none;
padding-bottom: 1px;
}

.navigateLinks p.guidelines:hover {
background: #fff2f2;
}

.navigateLinks a.guidelines {
border: none;
padding-bottom: 0px;
}

.navigateLinks p.guidelines a.noblock:hover {
background: #fff;
}

.navigateTimes {
border: 1px #bbf solid;
margin: 1px 0px 10px 0px;
padding: 2px;
background: #fff;
}

.timeTitleTop {
color: #c43;
}

.timeTitle {
margin-top: 2px;
border-top: 1px #bbf dashed;
padding-top: 2px;
color: #c43;
}

.time {
}

.time .timeUp {
font-size: 150%;
color: #f00;
}

.navigateImages a { 
border: none;
background: transparent;
}

.navigateImages img {
border: none;
width: 90%;
text-align: center;
margin-bottom: 10px;
}


.bottomSpacer {   
height: 20em;
}

/*          *
 * messages *
 *          */

.OKmessage {
padding: 5px 15px 5px 15px;
border: 1px #090 solid;
color: #090;
margin: 30px 50px;
background: #fff;
font-size: 120%;
}

.ERRmessage {
padding: 5px 15px 5px 15px;
border: 1px red solid;
color: #F00;
margin: 30px 50px;
background: #fff;
font-size: 120%;
}

/*         *
 * buttons *
 *         */

.buttonLink {
border: 1px #888 solid;
padding: 1px 5px 1px 5px;
color: #666;
margin: 2px 1px 2px 3px;
background: #f0f0f0 url("../images/coin-gris2.gif") top left no-repeat;
cursor: pointer;
}

.buttonLink:hover {
color: #fff;
background: #888;
}

.bigButton {
font-size: 120%;
border-width: 1px;
padding: 4px 20px 4px 20px;
margin: 10px 2px;
}

a.buttonLink {
padding: 2px 5px 2px 5px;
}

.buttonLink a {
color: #666;
}

/*               *
 * article boxes *
 *               */

.authorBoxWidth {
  padding: 5px;
  white-space: nowrap;
}

.authorBox {
  margin: 5px 10px 5px 0px;
  border: 1px #bbb dashed;
  float: left;
  overflow: hidden;
}

.removeAuthor {
  margin: -4px;
  border: none;
}

.paperBox {
margin: 20px 0px 0px 0px;
text-align: left;
}

.paperBoxTitle {
background: #f2f2ff url("../images/coin-bleu.gif") top left no-repeat;
border: 1px #bbf solid;
padding: 2px;
margin-bottom: 1px;
text-align: left;
}

.paperBoxNumber {
float: left;
font-size: 200%;
margin: 0px 20px 0px 7px;
text-align: left;
color: #333;
}

.paperBoxDetails {
border: 1px #bbf solid;
padding: 5px;
background: #fff;
}

.paperBoxDetailsWithdrawn {
border: 1px #fbf solid;
background: #fff url("../images/withdrawn.gif");
padding: 5px;
}

.paperBoxDetailsCommittee {
border: 1px #ec8 solid;
background: #fff url("../images/committee.gif");
padding: 5px;
color: #004;
}

.paperBox .previewImage {
float: right;
}

.paperBox .badRatio {
font-size: 200%;
font-weight: bold;
color: #f00;
}
 
.paperBox .goodRatio {
font-size: 200%;
font-weight: bold;
color: #004;
}

/*         *
 * Pop-up  *
 *         */

.popUp {
position: relative;   
}
 
.popUp .hidden {
visibility: hidden;   
display: block;
position: absolute;
top: 3.5em;
left: 0;   
width: 64em;
z-index: 125;
background: transparent;
}
 
.popUp:hover .hidden {
visibility: visible;
}

div.popUp img {
border: 1px #bbf solid;
}
 

/*         *
 * various *
 *         */

.w3cValid {
margin: 20px 0 0; padding: 0;
top: 100%;
width: 88px;
height: 31px;
}

.newComment {
background: #ffc;
font-weight: bold;
}

.red {
color: #f00;
}


.floatRight {
float: right;
}

.floatLeft {
float: left;
}
 
.floatRightClear {
clear: both;
float: right;
}

.clear {
clear: both;
}

.versionTitle{
font-weight: bold;
font-size: 160%;
}

.versionAuthors{
font-weight: bold;
font-size: 130%;
}

.versionAbstract, .chairComments, .nameList {
padding: 5px 20px;
font-size: 90%;
text-align: justify;
}

.chairComments, .nameList {
  font-style: italic;
}

.nameList {
padding: 2px 20px;
}

.versionAbstract p {
margin: 0; padding: 0;
}
 
.profileLeft {
margin: 0 20px 0 0;
padding: 0 20px 0 0;
border-right: solid #666 1px;
}
 
.profileRight {
margin: 0 0 0 20px;
padding: 0 0 0 20px;
border-left: solid #666 1px;
}

.bigNumber {
font-size: 200%;
color: #333;
}

.voidReview {
color: #f00;
}
 
.inProgressReview {
color: #f93;
}
 
.completedReview {
color: #2c2;
}
 
.acceptArticle {
color: #2c2;
}
 
.maybeAcceptArticle {
color: #cc0;
}
 
.discussArticle {
color: #f93;
}
 
.maybeRejectArticle {
color: #f00;
}
 
.rejectArticle {
color: #900;
}

.customAccept1, .customAccept2,
.customAccept3, .customAccept4,
.customAccept5, .customAccept6,
.customAccept7 {
color: #909;
}

.voidArticle {
}

/*        *
 * Tables *
 *        */

.dottedTable {
width: 99%;
margin: 0 auto;
}

.dottedTable td, .dottedTable th {
margin: 0; padding: 0;
text-align: center;
border-top: 1px solid #ccc;
}

.dottedTable .topRow {
border: none;
}

.dottedTable td td {
border: none;
}

.dottedTable td th {
border: none;
}

.dottedTable .leftAlign {
text-align: left;
}

/* centeredTable, used only for Snapshot and Average in accept_reject page */

.centeredTable td{
text-align: center;
padding: 0 4px;
}

.centeredTable th{
text-align: center;
font-weight: bold;
padding: 0 4px;
}

.usersTable {
width: 99%;
}

.usersTable td {
text-align: center;
}

.usersTable td.leftAlign {
text-align: left;
}

.usersTable th.leftAlign {
text-align: left;
}

.usersTable td.button {
margin: 0; padding: 5px;
}

.leftAlign {
text-align: left;
}

.rightAlign {
text-align: right;
}

tr.topAlign {
vertical-align: top;
}

.articlesListTable {
margin: 0.5em 0 1em 20px; padding: 0;
font-size: 90%;
}

.articlesListTable td {
text-align: left;
padding-right: 5px;
}

.xmlTable td {
padding: 0 20px;
text-align: center;
vertical-align: top;
}

