/*
 * Copyright (C) 2006, 2007 Thomas Baigneres, Matthieu Finiasz
 *
 * This file is part of iChair.
 *
 * iChair is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation; either version 3 of the License, or (at your
 * option) any later version.
 * 
 * iChair is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
 * for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 */
/*               *
 * General style *
 *               */

body {
color: #fff;
margin: 20px 14em 20px 20px;
background: #d22 url("../images/bomb_admin.gif") fixed no-repeat bottom right;
font-family: sans-serif;
font-size: 12px;
}

body.nomargin{
margin: 20px;
background: #d22;
}

a {
text-decoration: none;
font-weight: bold;
color: #ffa;
}

p {
text-align: justify;
}

input, textarea, select {
background: #fff;
color: #602;
border: 2px #602 solid;
padding: 2px;
margin-bottom: 10px;
font-size: 12px;
}

input.noBorder {
background: transparent;
border: none;          
}

table input, table textarea {
margin-bottom: 0px;
}

input.id {
margin: 10px 0px 0px 10px;
}

h1 {
background: #602;
text-align: center;
margin-top: 0px;
border: 2px #fff solid;
padding: 2px 0px 2px 0px;
}

h2 {
margin: 30px 0px 10px 0px;
padding-left: 25px;
text-align: right;
border-bottom: 2px #fff solid;
}

h2 a {
color: #fff;
}

h3 {
margin: 25px 0px 5px 0px;
}


/*               *
 *  Right panel  *
 *               */

.navigate {
position: absolute;
top: 20px;
right: 1em;
width: 12.3em;
text-align: center;
}

.navigateTitle {
font-size: 115%;
background: #fff;
color: #602;
padding: 4px 0;
font-weight: bold;
}

.navigateTitle a {
color: #602; 
display: block;
}

.navigateLinks {
border: 2px #fff solid;
margin: 2px 0px 20px 0px;
background: #602;
}

.navigateLinks p { 
margin: 2px; padding: 0;
text-align: center;
}

.navigateLinks a {
margin: 0;
padding: 4px 0px 4px 0px;
display: block;
}

.navigateLinks a:hover {
background: #fff;
color: #602;
}

.navigateLinks p.topLine { 
padding-top: 2px;
border-top: solid 2px #fff;
}

.navigateTimes {
border: 2px #fff solid;
margin: 2px 0px 10px 0px;
background: #602;
padding: 2px;
}

.timeTitleTop {
font-weight: bold;
color: #ffa;
}

.timeTitle {
margin-top: 2px;
border-top: 2px #fff solid;
padding-top: 2px;
font-weight: bold;
color: #ffa;
}

.time {
font-weight: bold;
}

.time .timeUp {
font-size: 150%;
color: #f66;
}

/*          *
 * messages *
 *          */

.OKmessage {
padding: 5px 15px 5px 15px;
background: #7f7;
border: 2px #d22 dashed;
font-weight: bold;
color: #602;
margin: 50px;
}

.ERRmessage {
padding: 5px 15px 5px 15px;
border: 2px #d22 dashed;
background: #f00;
font-weight: bold;
color: #602;
margin: 50px;
}


/*         *
 * buttons *
 *         */

.buttonLink {
border: 2px #602 solid;
margin: 2px;
padding: 2px 5px 1px 5px;
background: #fff;
font-weight: bold;
}

.buttonLink:hover {
background-color: #602;
color: #fff; 
border-color: #fff;
}

a.buttonLink {
color: #602;
}

.bigButton {
font-size: 120%;
padding: 5px 20px 4px 20px;
margin: 10px 2px;
border-width: 4px;
}


/*               *
 * article boxes *
 *               */

.authorBoxWidth {
  padding: 5px;
  white-space: nowrap;
}

.authorBox {
  margin: 5px 10px 5px 0px;
  border: 2px #bbb dashed;
  float: left;
  overflow: hidden;
}

.removeAuthor {
  color: red;
  margin: -4px;
  border: none;
}

.paperBox {
margin: 20px 0px 0px 0px;
}

.paperBox h2 {
border-bottom: 2px #602 solid;
}


.paperBoxTitle {
background: #602;
color: #fff;
padding: 2px;
margin-bottom: 2px;
}

.paperBoxNumber {
float: left;
font-weight: bold;
font-size: 200%;
margin: 0px 20px 0px 5px;
}

.paperBoxDetails {
border: 2px #602 solid;
background: #fff;
padding: 10px;
color: #602;
}

.paperBoxDetailsWithdrawn {
border: 2px #602 solid;
background: #fff url("../images/withdrawn.gif");
padding: 10px;
color: #602;
}

div.popUp {
margin: 0; padding: 0;
position: relative;
}

div.popUp div.hidden {
visibility: hidden;
display: block;
position: absolute;
top: 3.5em;
width: 60em;
left: 0; 
margin: 0;
padding: 0px;
z-index: 125;
background: transparent;
}

div.popUp:hover div.hidden { 
visibility: visible;
}

div.popUp img {
border: 2px #fff solid;
}


/*         *
 * various *
 *         */

.bigNumber {
font-size: 200%;
}

.w3cValid {
margin: 20px 0 0; padding: 0; 
top: 100%;
width: 88px;
height: 31px;
}

.floatRight {
float: right;
}

.clear {
clear: both;
}

.versionTitle {
font-weight: bold;
font-size: 160%;
}

.versionAuthors {
font-weight: bold;
font-size: 130%;
}

.versionAbstract {
padding: 5px 20px;
font-size: 90%;
text-align: justify;
}

.chairComments {
padding: 5px 20px;
font-size: 90%;
font-style: italic;
text-align: justify;
}

.previewImage{
text-align: center;
}

.previewImage img{
margin: 20px;
border: 2px #602 solid;
}

/*              *
 * Users Tables *
 *              */

.usersTable {
border-spacing: 0;
}

.usersTable td {
text-align: center;
}

.configGrades { 
text-align: center;
}

.configGrades td.firstRow { 
text-align: left;
}

.usersTable .leftAlign {
text-align: left;
}


.dottedTable {
margin: 0; padding: 0;
border-collapse: collapse;
width: 95%;
}

.dottedTable td,th {
margin: 0; padding: 0;
text-align: center;
border-top: 1px dotted #fff;
}

.dottedTable .topRow {
border: none;
}

.dottedTable td td {
border: none;
}

.dottedTable td th {
border: none;
}

.dottedTable .leftAlign {
text-align: left;
}

