/*
 * Copyright (C) 2006, 2007 Thomas Baigneres, Matthieu Finiasz
 *
 * This file is part of iChair.
 *
 * iChair is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation; either version 3 of the License, or (at your
 * option) any later version.
 * 
 * iChair is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
 * for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 */
/*               *
 * General style *
 *               */

body {
margin: 10px 10px 10px 15em;
background: #ffe;
font-family: "trebuchet MS", sans-serif;
font-size: 11px;
}

body.nomargin{
margin: 10px;
background: #ffe;
}

a {
text-decoration: none;
border: 1px solid #fbb;
border-left: none;
border-right: none;
font-weight: normal;
color: #c43;
/*cursor: alias;*/
}

a:hover { 
background: #fff2f2;
}

p {
text-align: justify;
}


h1 {
font-size: 200%;
background: #fff2f2 url("../images/coin-rose.gif") top left no-repeat;
text-align: center;
margin-left: -7.25em;
margin-top: 0px;
border: 1px solid #fbb;
padding:  1px;
font-weight: normal;
}

body.nomargin h1 { 
margin-left: 0px;
}

h2 {
text-align: left;
font-size: 155%;
margin: 30px 0px 10px 0px;
padding: 3px 4px 1px 4px;
background: #fff2f2 url("../images/coin-rose2.gif") top left no-repeat;
border: 1px #fbb solid;
font-weight: normal;
}

h2 a {
color: #000;
border: none;
}

h2 a:hover { 
  background: transparent;
}

input, textarea, select {
background: #f2fff2 url("../images/coin-vert3.gif") top right no-repeat;
margin-bottom: 10px;
font-size: 12px;
}

input, textarea {
border: 1px #aeb solid;
padding: 2px;
}

label { 
cursor: pointer;
}

input.id {
margin: 10px 0px 0px 10px;
}

input.noBorder {
background: transparent;
border: none;
margin-bottom: 0px;
}

table.disclaimer {
width: 60em;
text-align: justify;
}



/*               *
 *  Left panel   *
 *               */

.navigate {
position: absolute;
top: 5em;
left: .5em;
width: 14em;
text-align: center;
}

.navigateTitle {
font-size: 115%;
background: #f2f2ff url("../images/coin-bleu2.gif") top left no-repeat;
color: #000;
padding: 4px 0px;
border: 1px solid #bbf;
}

.navigateTitle a {
color: #000;
border: none;
display: block;
}

.navigateTitle a:hover { 
background: transparent;
}

.navigateLinks {
border: 1px solid #bbf;
margin: 1px 0px 20px 0px;
background: #fff;
}

.navigateLinks p { 
margin: 2px 0px;
text-align: center;
}

.navigateLinks p.topLine { 
padding-top: 2px;
border-top: dashed 1px #bbf;
}

.navigateLinks a {
padding: 4px 0px;
display: block;
}

.navigateLinks a.noblock {
padding: 0px;
display: inline;
border: none;
}

.navigateLinks a:hover {
background: #fff2f2;
}

.navigateLinks a.noblock:hover {
background: #fff2f2;
}

.navigateLinks p.guidelines {
border: 1px solid #fbb;   
border-left: none;
border-right: none;
padding-bottom: 1px;
}

.navigateLinks p.guidelines:hover {
background: #fff2f2;
}

.navigateLinks a.guidelines {
border: none;
padding-bottom: 0px;
}

.navigateLinks p.guidelines a.noblock:hover {
background: #fff;
}

.navigateTimes {
border: 1px #bbf solid;
margin: 1px 0px 10px 0px;
padding: 2px;
background: #fff;
}

.timeTitleTop {
color: #c43;
}

.timeTitle {
margin-top: 2px;
border-top: 1px #bbf dashed;
padding-top: 2px;
color: #c43;
}

.time {
}

.time .timeUp {
font-size: 150%;
color: #f00;
}

.navigateImages a { 
border: none;
background: transparent;
}

.navigateImages img {
border: none;
width: 90%;
text-align: center;
margin-bottom: 10px;
}


/*          *
 * messages *
 *          */

.OKmessage {
padding: 5px 15px 5px 15px;
border: 1px #090 solid;
color: #090;
margin: 30px 50px;
background: #fff;
font-size: 120%;
}

.ERRmessage {
padding: 5px 15px 5px 15px;
border: 1px red solid;
color: #F00;
margin: 30px 50px;
background: #fff;
font-size: 120%;
}


/*         *
 * buttons *
 *         */

.buttonLink {
border: 1px #888 solid;
padding: 1px 5px 1px 5px;
/*font-weight: bold;*/
color: #666;
margin: 2px;
background: #f0f0f0 url("../images/coin-gris2.gif") top left no-repeat;
cursor: pointer;
}

.buttonLink:hover {
color: #fff;
background: #888;
}

.bigButton {
font-size: 120%;
border-width: 1px;
padding: 4px 20px 4px 20px;
margin: 10px 2px;
}


/*               *
 * article boxes *
 *               */

.authorBoxWidth {
  padding: 5px;
  white-space: nowrap;
}

.authorBox {
  margin: 5px 10px 5px 0px;
  border: 1px #bbb dashed;
  float: left;
  overflow: hidden;
}

.removeAuthor {
  margin: -4px;
  border: none;
}

.paperBox {
margin: 20px 0px 0px 0px;
}

.paperBoxTitle {
background: #f2f2ff url("../images/coin-bleu2.gif") top left no-repeat;
border: 1px #bbf solid;
padding: 2px;
margin-bottom: 1px;
}

.paperBoxNumber {
float: left;
//font-weight: bold;
font-size: 200%;
margin: 0px 20px 0px 5px;
}

.paperBoxDetails {
border: 1px #bbf solid;
padding: 5px;
background: #fff;
}

.paperBox .previewImage {
float: right;
}

.paperBox .previewImage img {
margin: 0px;
padding: 5px;
background: #f2fff2 url("../images/coin-vert2.gif") top left no-repeat;
}


/*               *
 * image preview *
 *               */

.previewImage{
text-align: center;
}

.previewImage img{
margin: 10px;
padding: 10px;
background: #f2fff2 url("../images/coin-vert.gif") top left no-repeat;
border: 1px #aeb solid;
}


.showPreview{
padding: 10px;
background: #f2fff2;
text-align: center;
border: 1px #aeb solid;
}

.previewImage a{
border: none;
}

.showPreview img{
border: 1px #aeb solid;
}



/*         *
 * various *
 *         */

.floatRight {
float: right;
}

.clear {
clear: both;
}

.versionTitle{
font-weight: bold;
font-size: 160%;
}

.versionAuthors{
font-weight: bold;
font-size: 130%;
}

.versionAbstract{
padding: 5px 20px;
font-size: 90%;
text-align: justify;
}

.bottomEmail {
font-size: 80%;
float: right;
margin: 20px 0;
text-align: right;
}
