/*
 * Copyright (C) 2006, 2007 Thomas Baigneres, Matthieu Finiasz
 *
 * This file is part of iChair.
 *
 * iChair is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation; either version 3 of the License, or (at your
 * option) any later version.
 * 
 * iChair is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
 * for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 */
/*               *
 * General style *
 *               */

body {
color: #000;
margin: 10px;
font-family: sans-serif;
font-size: 12px;
}

table { 
border-collapse: collapse;
}

table td {
margin: 0;
text-align: left;
}

a {
text-decoration: none;
font-weight: bold;
color: #000;
}

p {
text-align: justify;
}

input, textarea, select {
background: #fff;
color: #000;
border: 2px #000 solid;
padding: 2px;
font-size: 12px;
}

select.gradeSelect {
min-width: 4em;
}

input.noBorder {
background: transparent;
border: none;
}

input.largeInput {
background: transparent;
border: solid 1px #000;
font-size: 200%;
padding: 0;
margin: 0;
text-align: center;
}

h1 {
background: #fff;
text-align: center;
margin-top: 0px;
border: 2px #000 solid;
padding: 2px 0px 2px 0px;
}

h2 {
margin: 30px 0px 10px 0px;
padding-left: 25px;
text-align: right;
border-bottom: 2px #000 solid;
}

h2 a {
color: #000;
}

h3 {
margin: 25px 0px 5px 0px;
}

li { 
margin:0; padding: 0;
text-decoration: none;
}


/*               *
 *  Right panel  *
 *               */

.navigate {
visibility: hidden;
position: absolute;
}

.tinymargins { 
margin: 2px 0 0 0;
}

/*          *
 * messages *
 *          */

.authorBoxWidth {
  padding: 5px;
  white-space: nowrap;
}

.authorBox {
  margin: 5px 10px 5px 0px;
  border: 2px #bbb dashed;
  float: left;
  overflow: hidden;
}

.removeAuthor {
  margin: -4px;
  border: none;
}

.messageBox {
width: 50em;
padding: 5px;
border: 2px dashed #000;
font-family: courier, fixed;
font-weight: bold;
}

.paperBoxDetails .messageBox {
margin: 3px 0 0 7px;
}

.OKmessage {
padding: 5px 15px 5px 15px;
border: 2px #7f7 dashed;
font-weight: bold;
color: #7f7;
margin: 20px 50px;
}

.ERRmessage {
padding: 5px 15px 5px 15px;
border: 2px #f33 dashed;
font-weight: bold;
color: #f33;
margin: 20px 50px;
}

.infoMessage {
margin: 10px 50px;
padding: 5px 15px; 
border: 1px solid #000; 
text-align: justify;
}

/*         *
 * buttons *
 *         */

.buttonLink {
border: 2px #000 solid;
margin: 2px 0 2px 2px;
padding: 2px 5px 1px 5px;
background: #fff;
font-weight: bold;
color: #000;
}

a.buttonLink {
padding: 3px 5px 2px 5px;
}

.buttonLink a {
color: #000;
}

.bigButton { 
font-size: 120%;
padding: 5px 20px 4px 20px;
margin: 10px 2px;
border-width: 4px;
}

.incrButton {
margin: 0; padding: 0;
border: none;
width: 25px; /* 25 instead of 20 for safari */
height: 20px;
font-size: 0;
font-weight: bold;
background: transparent url("../images/incr.gif") no-repeat bottom left;
}

.decrButton {
margin: 0; padding: 0;
border: none;
width: 25px;
height: 20px;
font-size: 0;
font-weight: bold;
background: transparent url("../images/decr.gif") no-repeat top left;
}

/*               *
 * article boxes *
 *               */

.paperBox {
margin: 0px 0px 20px 0px;
text-align: left;
}

.paperBoxTitle {
background: #666;
color: #fff;
padding: 2px;
margin-bottom: 2px;
text-align: left;
}

.paperBoxNumber {
float: left;
font-weight: bold;
font-size: 200%;
margin: 0px 20px 0px 5px;
text-align: left;
}

.paperBoxDetails {
border: 2px #000 solid;
background: #fff;
padding: 10px;
color: #000;
text-align: left;
}

.paperBoxDetails td, .paperBoxDetails th {
color: #000;
}

.paperBoxDetailsWithdrawn {
border: 2px #000 solid;
background: #fff url("../images/withdrawn.gif");
padding: 10px;
color: #004;
}

.paperBoxDetailsCommittee {
border: 2px #000 solid;
background: #fff url("../images/committee.gif");
padding: 10px;
color: #000;
}

.paperBox .badRatio {
font-size: 200%;
font-weight: bold;
color: #f00;
}

.paperBox .goodRatio {
font-size: 200%;
font-weight: bold;
color: #000;
}

.paperBox .previewImage {
float: right;
}

.paperBox .previewImage img {
margin: 0px;
}

/*               *
 * image preview *
 *               */

.previewImage{
text-align: center;
}

.previewImage img{
margin: 20px;
border: 2px #000 solid;
}


.showPreview{
padding: 10px;
background: #fff;
text-align: center;
border: 2px #000 solid;
}

.previewImage a img{
border: 2px #000 solid;
}

.showPreview img{
border: 2px #000 solid;
}


/*         *
 * Pop-up  *
 *         */

div.popUp {
margin: 0; padding: 0;
position: relative;
}

div.popUp a { 
margin: 2px; padding: 2px 5px 1px 5px;
background-color: #fff;
border: 2px solid #000;
color: #000;
display: block;
}

div.popUp div.hidden {
visibility: hidden;
position: absolute;
}

div.popUp div.hiddenOpposite {
visibility: hidden;
position: absolute;
}

/*         *
 * various *
 *         */

.w3cValid {
margin: 20px 0 0; padding: 0; 
top: 100%;
width: 88px;
height: 31px;
}

.red {
color: #f00;
}

.floatRight {
margin: 0; padding: 0;
float: right;
}

.floatLeft {
float: left;
}

.floatRightClear {
clear: both;
float: right;
}

.clear {
clear: both;
}

.versionTitle {
font-weight: bold;
font-size: 160%;
}

.versionAuthors {
font-weight: bold;
font-size: 130%;
}

.versionAbstract {
padding: 5px 20px;
font-size: 90%;
text-align: justify;
}

.versionAbstract p {
margin: 0; padding: 0;
}

.nameList {
padding: 0px 20px;
font-size: 90%;
font-style: italic;
text-align: justify;
}

.chairComments {
padding: 5px 20px;
font-size: 90%;
font-style: italic;
text-align: justify;
}

.profileLeft {
margin: 0 20px 0 0;
padding: 0 20px 0 0;
border-right: solid #000 2px;
}

.profileRight {
margin: 0 0 0 20px;
padding: 0 0 0 20px;
border-left: solid #000 2px;
}

.bigNumber {
font-size: 200%;
}

.voidReview {
font-weight: bold;
color: #f44;
}

.inProgressReview {
font-weight: bold;
color: #fb5;
}

.completedReview {
font-weight: bold;
color: #2d2;
}

.acceptArticle {
font-weight: bold;
color: #2d2;
}

.maybeAcceptArticle {
font-weight: bold;
color: #dd2;
}

.discussArticle {
font-weight: bold;
color: #fb5;
}

.maybeRejectArticle {
font-weight: bold;
color: #f66;
}

.rejectArticle {
font-weight: bold;
color: #e44;
}

.articlesList {
margin: 0.5em 0 0; padding: 0;
}

/*        *
 * Tables *
 *        */

.smallCentered { 
margin: 0; padding: 0;
text-align: center;
font-size: 90%;
}

.smallCentered th { 
margin: 0; padding: 10px;
}

.smallCentered td { 
margin: 0; padding: 0;
vertical-align: baseline;
text-align: center;
}

.smallCentered td.button { 
padding: 0 5px;
}

.smallCentered td td {
text-align: left;
}

td.center { 
text-align: center;
}

.dottedTable {
margin: 0; padding: 0;
border-collapse: collapse;
width: 95%;
}

.dottedTable td, .dottedTable th {
margin: 0; padding: 0;
text-align: center;
border-top: 1px dotted #000;
}

.dottedTable .topRow {
border: none;
}

.dottedTable td td {
border: none;
}

.dottedTable td th {
border: none;
}

.dottedTable .leftAlign {
text-align: left;
}


.centeredTable td{
text-align: center;
padding: 0 4px;
}

.centeredTable th{
text-align: center;
font-weight: bold;
padding: 0 4px;
}

.usersTable td {
text-align: center;
}

.usersTable td.left {
text-align: left;
}

.usersTable td.leftAlign {
text-align: left;
}

.usersTable td.button {
margin: 0; padding: 5px;
}



.leftAlign {
text-align: left;
}

.rightAlign {
text-align: right;
}

tr.topAlign {
vertical-align: top;
}
 
.articlesListTable {
margin: 0.5em 0 1em 20px; padding: 0;
font-size: 90%;
}

.articlesListTable td {
text-align: left;
}

.xmlTable td { 
padding: 0 20px;
text-align: center;
vertical-align: top;
}

