/*
 * Copyright (C) 2006, 2007 Thomas Baigneres, Matthieu Finiasz
 *
 * This file is part of iChair.
 *
 * iChair is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation; either version 3 of the License, or (at your
 * option) any later version.
 * 
 * iChair is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
 * for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 */
/*               *
 * General style *
 *               */

body {
margin: 0px;
font-family: "trebuchet MS", sans-serif;
font-size: 11px;
color: #000;
}

a {
text-decoration: none;
font-weight: normal;
color: #000;
}

p {
text-align: justify;
}


h1 {
font-size: 200%;
background: #f0f0f0 url("../images/coin-gris.gif") top left no-repeat;
text-align: center;
margin-right: 0px;
margin-top: 0px;
border: 1px solid #888;
padding:  1px;
font-weight: normal;
}

h2 {
text-align: left;
font-size: 155%;
margin: 30px 0px 10px 0px;
padding: 3px 4px 1px 4px;
background: #f0f0f0 url("../images/coin-gris2.gif") top left no-repeat;
border: 1px #888 solid;
font-weight: normal;
}

input, textarea, select {
background: #f0f0f0;
padding: 2px;
font-size: 11px;
}

input, textarea {
border: 1px #888 solid;
padding: 2px;
}

label { 
cursor: pointer;
}

input.id {
margin: 10px 0px 0px 10px;
}

select.gradeSelect {
min-width: 4em;
}

input.noBorder {
background: transparent;
border: none;
}

table.disclaimer {
width: 60em;
text-align: justify;
}

table {
border-collapse: collapse;
}

table td {
margin: 0;
text-align: left;
}

/*               *
 *  Right panel   *
 *               */

.navigate {
display: none;
}

/*          *
 * messages *
 *          */

.OKmessage {
padding: 5px 15px 5px 15px;
border: 1px #000 solid;
margin: 30px 50px;
background: #fff;
font-size: 120%;
}

.ERRmessage {
padding: 5px 15px 5px 15px;
border: 1px #000 solid;
margin: 30px 50px;
background: #fff;
font-size: 120%;
}

.messageBox {
width: 50em; 
padding: 5px;
border: 1px #888 solid;
font-family: "courier new", fixed;
font-weight: bold;
background: #fff;
}

.paperBoxDetails .messageBox {
margin: 3px 0 0 3px;
}

.paperBoxDetails .ERRmessage {
margin: 10px 50px;
}

.infoMessage {
margin: 10px 50px;
padding: 5px 15px;
border: 1px solid #888;
text-align: justify;
background: #fff;
}

/*         *
 * buttons *
 *         */

.buttonLink {
border: 1px #888 solid;
padding: 1px 5px 1px 5px;
color: #666;
margin: 2px 1px 2px 3px;
background: #f0f0f0 url("../images/coin-gris2.gif") top left no-repeat;
cursor: pointer;
}

.bigButton {
font-size: 120%;
border-width: 1px;
padding: 4px 20px 4px 20px;
margin: 10px 2px;
}

a.buttonLink {
padding: 2px 5px 2px 5px;
}

.buttonLink a {
color: #666;
}

.currentButton {
color: #fff;
background: #888;
}

.incrButton {
margin: 0; padding: 0;
border: none;
width: 25px; /* 25 instead of 20 for safari */
height: 20px;
font-size: 0;
font-weight: bold;
background: transparent url("../images/incr.gif") no-repeat bottom left;
}

.decrButton {
margin: 0; padding: 0;
border: none;
width: 25px; 
height: 20px;
font-size: 0;
font-weight: bold;
background: transparent url("../images/decr.gif") no-repeat top left;
}


/*               *
 * article boxes *
 *               */

.paperBox {
margin: 20px 0px 0px 0px;
text-align: left;
}

.paperBoxTitle {
background: #f0f0f0;
border: 1px #888 solid;
padding: 2px;
margin-bottom: 1px;
text-align: left;
}

.paperBoxNumber {
float: left;
font-size: 200%;
margin: 0px 20px 0px 7px;
text-align: left;
}

.paperBoxDetails {
border: 1px #888 solid;
padding: 5px;
background: #fff;
}

.paperBoxDetailsWithdrawn {
border: 1px #888 solid;
background: #fff url("../images/withdrawn.gif");
padding: 5px;
}

.paperBoxDetailsCommittee {
border: 1px #888 solid;
background: #fff url("../images/committee.gif");
padding: 5px;
}

.paperBox .previewImage {
float: right;
}

.paperBox .badRatio {
font-size: 200%;
font-weight: bold;
}
 
.paperBox .goodRatio {
font-size: 200%;
font-weight: bold;
}

/*         *
 * Pop-up  *
 *         */

.popUp {
position: relative;   
cursor: context-menu; 
}
 
.popUp input {
cursor: context-menu;
}
 
.popUp a {
border: 1px #888 solid;
padding: 1px 5px 1px 5px;
color: #666;
margin: 2px;
background: #f0f0f0 url("../images/coin-gris2.gif") top left no-repeat;
display: block;
}

.popUp .hidden {
display: none;
}
 
.popUp .hiddenOpposite {
display: none;
}
 

/*         *
 * various *
 *         */

.w3cValid {
display: none;
}

.newComment {
background: #ffc;
font-weight: bold;
}

.floatRight {
float: right;
}

.floatLeft {
float: left;
}
 
.floatRightClear {
clear: both;
float: right;
}

.clear {
clear: both;
}

.versionTitle{
font-weight: bold;
font-size: 160%;
}

.versionAuthors{
font-weight: bold;
font-size: 130%;
}

.versionAbstract, .chairComments, .nameList {
padding: 5px 20px;
font-size: 90%;
text-align: justify;
}

.chairComments, .nameList {
  font-style: italic;
}

.nameList {
padding: 2px 20px;
}

.versionAbstract p {
margin: 0; padding: 0;
}
 
.profileLeft {
margin: 0 20px 0 0;
padding: 0 20px 0 0;
border-right: solid #666 1px;
}
 
.profileRight {
margin: 0 0 0 20px;
padding: 0 0 0 20px;
border-left: solid #666 1px;
}

.bigNumber {
font-size: 200%;
}

/*        *
 * Tables *
 *        */

.dottedTable {
width: 99%;
margin: 0 auto;
}

.dottedTable td, .dottedTable th {
margin: 0; padding: 0;
text-align: center;
border-top: 1px solid #ccc;
}

.dottedTable .topRow {
border: none;
}

.dottedTable td td {
border: none;
}

.dottedTable td th {
border: none;
}

.dottedTable .leftAlign {
text-align: left;
}

/* centeredTable, used only for Snapshot and Average in accept_reject page */

.centeredTable td{
text-align: center;
padding: 0 4px;
}

.centeredTable th{
text-align: center;
font-weight: bold;
padding: 0 4px;
}

.usersTable {
width: 99%;
}

.usersTable td {
text-align: center;
}

.usersTable td.leftAlign {
text-align: left;
}

.usersTable th.leftAlign {
text-align: left;
}

.usersTable td.button {
margin: 0; padding: 5px;
}

.leftAlign {
text-align: left;
}

.rightAlign {
text-align: right;
}

tr.topAlign {
vertical-align: top;
}

.articlesListTable {
margin: 0.5em 0 1em 20px; padding: 0;
font-size: 90%;
}

.articlesListTable td {
text-align: left;
padding-right: 5px;
}

.xmlTable td {
padding: 0 20px;
text-align: center;
vertical-align: top;
}


.previewImage{
text-align: center;
}

.previewImage img{
margin: 10px;
padding: 10px;
background: #f0f0f0;
border: 1px #888 solid;
}

.showPreview{
padding: 10px;
background: #fff;
text-align: center;
border: 1px #888 solid;
}

.showPreview img{
border: 1px #888 solid;
}
