/*
 * Copyright (C) 2006, 2007 Thomas Baigneres, Matthieu Finiasz
 *
 * This file is part of iChair.
 *
 * iChair is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation; either version 3 of the License, or (at your
 * option) any later version.
 * 
 * iChair is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
 * for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 */
body {
color: #fff;
margin: 20px;
font-family: sans-serif;
background: #336b9a;
font-size: 12px;
}

p {
text-align: justify;
}

h1 {
background: #004;
text-align: center;
margin-top: 0px;
border: 2px #fff solid;
padding: 2px 0px 2px 0px;
}

h2 {
margin: 30px 0px 10px 0px;
padding-left: 25px;
text-align: right;
border-bottom: 2px #fff solid;
}

.buttonLink {
border: 2px #004 solid;
margin: 2px 0 2px 2px;
padding: 2px 5px 1px 5px;
background: #fff;
font-weight: bold;
color: #004;
}

.buttonLink:hover {
border-color: #fff;
color: #fff;
background-color: #004;
}

.bigButton { 
font-size: 120%;
padding: 5px 20px 4px 20px;
margin: 10px 2px;
border-width: 4px;
}

paperBox {
margin: 0px 0px 20px 0px;
text-align: left;
}

.paperBoxTitle {
background: #004;
color: #fff;
padding: 2px;
margin-bottom: 2px;
text-align: left;
}

.paperBoxNumber {
float: left;
font-weight: bold;
font-size: 200%;
margin: 0px 20px 0px 5px;
text-align: left;
}

.paperBoxDetails {
border: 2px #004 solid;
background: #fff;
padding: 10px;
color: #004;
text-align: left;
}

.customchecks {
  font-size: 13px;
  float: right;
  clear: right;
  text-align: right;
  font-weight: bold;
  color: #a2a;
}

.floatRight {
margin: 0; padding: 0;
float: right;
}

.clear {
clear: both;
}

.versionTitle {
font-weight: bold;
font-size: 160%;
}

.versionAuthors {
font-weight: bold;
font-size: 130%;
}

.versionAbstract {
padding: 5px 20px;
font-size: 90%;
text-align: justify;
}

.continent_AF {
  border-left: 4px solid #840;
  padding-left: 1px;
}

.continent_AM {
  border-left: 4px solid #c00;
  padding-left: 1px;
}

.continent_AS {
  border-left: 4px solid #ee0;
  padding-left: 1px;
}

.continent_EU {
  border-left: 4px solid #3c3;
  padding-left: 1px;
}

.continent_OC {
  border-left: 4px solid #66e;
  padding-left: 1px;
}

.continent_OT {
  border-left: 4px solid #999;
  padding-left: 1px;
}

.continent_last {
  padding-left: 5px;
}

